*,*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  color: white;
  font-family: "Bruno Ace", sans-serif;
  cursor: default;
  .text-box {
    margin: 1.8rem 0 0 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 3rem;
      text-shadow: 2px 2px 3px #f5f5f5;
    }
  }
  .Buttons {
    margin: .7rem 0 0 0;
    display: flex;
    width: 100%;
    justify-content: center; 
  }
  button {
    margin: 1rem;
    padding: .5rem;
    font-family: inherit;
    cursor: pointer;
    border-radius: 5px;
    border-color: unset;
  }
  .oscillator, .filter {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
  }
  .control {
      margin: 2.4rem 0;
      h2 {
      margin: 0 0 .5rem 0;
      }
      .param {
        margin: 0 0 2rem 0;
        h3 {
          margin: 1.8rem 0 .8rem 0;
        }
        input {
          width: 60%;
          cursor: pointer;
        }
        button {
          padding: .3rem .5rem;
        }
      }
      .param-filter {
        margin: .8rem 0 .4rem 0;
      }
      .active {
        background: #575757;
        border: #575757;
      }
    } 
  }
  

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url('img/star-wars.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
